Repository richardosmann/resas-api-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run test, prettier --write

custom component test code
  src/components/CustomChart/index.test.tsx
  src/components/CustomCheckBox/index.test.tsx
  src/components/CustomPrefectureCard/index.test.tsx
  src/components/CustomSelect/index.test.tsx
  src/lib/mock.js
Due: eslint --fix, npm run test

fix mockstore
  src/App.test.tsx
Due: eslint --fix, npm run test

custom spinner
  src/App.tsx
  src/api/resas.ts
  src/components/CustomChart/index.tsx
  src/components/CustomPrefectureCard/index.tsx
  src/components/CustomSpinner/index.test.tsx
  src/components/CustomSpinner/index.tsx
  src/components/CustomSpinner/styles.css
  src/lib/types.ts
  src/redux/resas/resas.ts
Due: eslint --fix, npm run test, prettier --write

remove log row
  src/components/CustomPrefectureCard/index.tsx
Due: eslint --fix, npm run test

readme.md and fix length bug
  README.md
  src/components/CustomChart/index.tsx
Due: eslint --fix, npm run test, prettier --write

fix: deployed vercel url
  README.md
Due: prettier --write

fix readme.md
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  npm run test: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,css,md}
